<!DOCTYPE html>
<html lang="en" style="font-family: Helvetica">
<head>
  <meta charset="utf-8">
  <title>Temperature Converter</title>
</head>

<body>
  <h2><u>Temperature Converter</u></h2>

  <br>

  <form id="main body">

    <label for="temperature">Enter Temperature Here:</label>
    <input type="text" id="temperature" name="temperature">
    
    <br><br>
    
    <section id="radioButtons">
      <input type="radio" id="fahrenheit" name="scale" value="fahrenheit">
      <label for="fahrenheit">To Fahrenheit</label><br>
      <input type="radio" id="celsius" name="scale" value="celsius">
      <label for="celsius">To Celsius</label>
    </section>
    
    <br>
    
    <section id="buttons">
      <button type="button" id="converter" name="convert">Convert</button>
      <button type="button" id="clear" name="clear">Clear</button>
    </section>

  </form>

    <p id="result">The New Temperature Is: <p>

  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>